/*\!*overall game colors and fonts*!*/

.root {
    -fx-font-family: "Segoe UI";
}

/*standard text */
.text-label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

/*title text*/
.title-text {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight:bold;
}

/*money box text*/

.money-text {
    -fx-text-fill: black;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

/*Buttons*/
.big-button {
    -fx-font-size:20px;
    -fx-padding: 10 25;
    -fx-backgorund-color: #1a1a1a;
    -fx-text-fill:white;
    -fx-background-radius: 12;
}

.big-button:hover {
    -fx-background-color: #333333;
}

.option-button {
    -fx-text-fill: white;
}

.option-button:hover {
    -fx-text-fill: #00ddff;
}

/*coloring for the result labels*/


.win-text {
    -fx-text-fill:#00ff66;
    -fx-font-size:40px;
    -fx-font-weight: bold;
}

.lose-text {
    -fx-text-fill:#ff4444;
    -fx-font-size:40px;
    -fx-font-weight: bold;
}

.neutral {
    -fx-text-fill: white;
    -fx-font-size:40px;
    -fx-font-weight: bold;
}

/*message log*/

.log-view {
    -fx-control-inner-background: #062E22;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-border-color: #1a1a1a;
}

/*bettings shapes*/

/*pair plus circle*/
.pairplus-text {
    -fx-font-size: 16px;
    -fx-font-weight : bold;
    -fx-text-fill : white;
}

/*ante/play diamond text*/
.diamond-text {
    -fx-font-size:16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/*top bar background*/
.top.bar {
    -fx-background-color: transparent;
}

/*main table background*/

.table-background {
    -fx-background-color : #0A4A36;
}

